/*****************************/
/* GENERAL                    */
/*****************************/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $pac1-color-background;
  font-family: $pac1-font;
}

/*****************************/
/* HEADER                    */
/*****************************/

.header {
  left: 0;
  top: 0;

  height: 100px;
  width: 100%;

  font-size: 0.8rem;
  padding: 5px;

  & img {
    height: 80px;
    float: left;
  }
}

.hero {
  height: 55vh;
  position: relative;

  background-image: url("../images/logo-hero.jpg?as=webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & .hero__texte {
    position: absolute;

    top: 50%;
    left: 40%;

    transform: translate(-50%, -50%);

    font-size: 4rem;
    line-height: 1;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: $pac1-font-title;
  }
}

@media (max-width: 992px) {
  .hero .hero__texte {
    font-size: 2rem;
    max-width: 750px;
    color: rgb(255, 255, 255);
  }

  .header {
    text-align: center;
  }
}

/*****************************/
/* FOOTER                    */
/*****************************/

@function lightness-shift($colour) {
  @if (lightness($colour) < 25%) {
    @return lighten($colour, 10%);
  } @else {
    @return darken($colour, 10%);
  }
}

.footer {
  left: 0;
  top: 0;

  height: 200px;
  width: 100%;

  font-size: 0.8rem;
  color: rgb(255, 255, 255);

  background: $pac1-color-background-footer;
}

.footer__box {
  padding-top: 40px;
  padding-left: 40px;

  float: left;

  text-align: left;
}

@media (max-width: 992px) {
  .footer {
    background-color: lightness-shift($pac1-color-background-footer);
  }
}

/*****************************/
/* DETALL                    */
/*****************************/
.detall {
  width: 95%;

  padding: 20px;
  margin: 0 auto;

  overflow: auto;

  & img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  & p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 500;
  }
}

.row-detall:after {
  content: "";
  display: table;
  clear: both;
}

.column-detall-left {
  float: left;
  width: 65%;
  padding: 20px;

  & h2 {
    padding-top: 20px;

    font-size: 1.6em;
    line-height: 1.2em;

    color: rgb(22, 190, 22);
  }
}

.column-detall-left__titols {
  padding: 10px;

  font-family: $pac1-font-foto-title;
  font-size: 1.1em;
  line-height: 1em;
  text-align: center;
}

.column-detall-left__titols--descarrega {
  color: rgb(0, 0, 255);
}

.column-detall-right {
  margin-top: -35px;

  float: left;

  width: 35%;
  padding: 20px;

  & h2 {
    padding-top: 40px;

    font-size: 1.6em;
    line-height: 1.2em;
    color: rgb(255, 0, 0);
  }
}

.column-detall-right__fotos {
  position: relative;

  margin-bottom: 20px;

  float: left;
  width: 100%;

  overflow: hidden;

  text-align: center;
  font-family: $pac1-font-foto-title;
  font-style: italic;

  background-color: rgb(255, 255, 255);
  & img {
    width: 100%;
    display: inline-block;
  }
}

.column-detall-right__titols {
  padding: 10px;

  font-size: 1.1em;
  line-height: 1em;
  text-align: right;
}

/* Punts de ruptura pel disseny responsive segons la seva amplada */
/* Amplada Tablet*/
@media screen and (max-width: 960px) {
  .detall {
    width: 95%;
  }

  .column-detall-left,
  .column-detall-right {
    width: 100%;
  }
}

/* Amplada Mòbil*/
@media screen and (max-width: 600px) {
  .column-detall-left,
  .column-detall-right {
    width: 100%;
  }

  .column-detall-left__titols {
    padding: 0;

    font-size: 0.8em;
    text-align: left;
  }

  .column-detall-right__titols {
    padding: 0;

    font-size: 0.8em;
    text-align: left;
  }
}
